.productTableWrapper {
  padding: 20px 30px;
}

.searchPanelWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.searchInputWrapper {
  background-color: #f3f3f3;
  margin-left: 20px;
  display: block;
}

.addButton {
  white-space: nowrap;
}
